
.main-banner-caro {
    position: relative;
    margin: 0 auto;
    padding-top:100px !important;
}


.main-banner-containerx {
    border-radius: 24px;
    padding: 40px 60px !important;
    background: rgba(255,255,255, 0.05);
    margin-top: 50px;


}

.containerlx {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}

.top-strip {
    color: white;
    position: fixed;
    width: 100%;
    height: 39px;
    background: var(--primary-color);
    top: 0;
}

.bottom-strip {
    position: fixed;
    width: 100%;
    height: 20px;
    background: var(--primary-color);
    bottom: 0;
}

.quotation-box {
    min-height: auto;
    margin-top: 20;
    color: white;
}

.quote {
    font-size: 25px;
    font-weight:bold;
    line-height: 40px;
    color:white;
}


.disabled-button {
    pointer-events: none;
    cursor: not-allowed;
}

.disabled-button path {
    stroke: var(--light-gary);
    cursor: not-allowed;
}

.disable-highlight-color {
    -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 700px) {
    .quotation-box {
    margin-top: 70px;
    }

    .quote {
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
    }

    .bottom-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    }

    .share {
    margin-top: 50px;
    }
}
